<header class="container-fluid no-padding docitt-header">
  <div class="offset-xs-2 col-md-4 docitt-logo" (click)="goHome()">
    <img src="../assets/docitt.png" class="img-fluid" alt="docitt-logo">
  </div>
</header>
<section class="docitt-body">
  <router-outlet></router-outlet>
</section>
<footer class="docitt-footer"></footer>