<section class="container-fluid no-padding row">
  <section class="side-nav col-md-2">
    <nav class="side-navbar">
      <ul class="side-nav-container">
        <li *ngFor="let item of sideNavList" routerLinkActive="active" routerLink={{item.URL}} class="side-nav-item">
          <div class="side-nav-tab">
            <a class="side-nav-link">{{item.navName}}</a>
          </div>
          <progress-indicator routerLinkActive="active"></progress-indicator>
        </li>
      </ul>
    </nav>
  </section>
  <section class="launch-body col-md-10 no-padding">
    <router-outlet></router-outlet>
  </section>
  
</section>
