.flex-wrap{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 10px;
  .lower-pad{
    padding: 5px;
    .img-container{
        width: 70px;
    }
  }
}
.login-information{
    width:100%;
    height: 25%;
    margin-top: 20px;
}
  .invalid-input{
           color:red !important;
   }
   .info{
    float: right;
    width: 10px;
    color: blue;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    padding-left: 42px;  
     }
   .check{
    font-size: 40px;
    color: #1fc71f;
   }
   .documents{
float: left;
   border: 1px solid grey;
   border-radius: 5px;
   padding: 10px 10% 10px 5%;
}      
   .select-box{
    border: none;
    height: 15px;
    border-bottom: 1px solid #0066cc;
    margin-left: -43vw;
    margin-bottom: 20px;
    color: #0066cc;
   }
.document-cntr
{
      margin-top: 29px;
    border: 1px solid #e6dddd;
    padding: 4px;
}
.dnd-btn{
    font-size: 22px;
    background: transparent;
    border: none;
    color: #0066cc;
    cursor: pointer;
}
.dnd-row{
      background-color: aliceblue;
      margin-bottom: 2px;
      border-radius: 10px;
}
.sel-adj{
      height: 30px !important;
}