<div class="contaner-fluid">
  <div class="row align-items-center">
    <div class="offset-sm-2 col-sm-8 input-styling">
      <div class="flex-wrap">
        <div class="col-sm-1.7 lower-pad">
          <div class="img-container">
            <img src="{{imageSource}}" alt="Bank Logo" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-7 lower-pad">
          <div class="row input-heading">Banking Information</div>
          <div class="row input-sub-heading">Enter Credentials to Import your accounts and balances.</div>
        </div>
      </div>
      <form (ngSubmit)="OnSubmit()" #f=ngForm>
        <div class="group">
          <input type="text" required [(ngModel)]="user" name="onlineId" #onlineId=ngModel>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label *ngIf="!onlineId.touched || onlineId.valid">Online Id</label>
          <label *ngIf="onlineId.touched && !onlineId.valid" class="invalid-input">Online Id is required</label>
        </div>
        <div class="group">
          <span class="info" [class.invalid-input]="type=='text'" (click)="changeVisual()"><i class="fa fa-eye" aria-hidden="true"></i></span>
          <input type={{type}} required [(ngModel)]="pass" name="password" #password=ngModel>

          <span class="highlight"></span>
          <span class="bar"></span>

          <label *ngIf="!password.touched || password.valid">Password</label>
          <label *ngIf="password.touched && !password.valid" class="invalid-input">Password is required</label>
        </div>

          <select class="select-box sel-adj" ngModel  name="transaction" (ngModelChange)="onSelectChange($event)">
            <option *ngFor="let option of options" [ngValue]="option" >{{option.name}}</option>
          </select>
        <div class="col-sm-6">
          <button *ngIf='!resBody?.flag' [disabled]="!f.valid" type="button" class="btn btn-primary" (click)="progress=true;authenticate(f)">Enter</button>
        </div>
        <div class="col-sm-6" *ngIf="progress && !resBody?.flag && !docType">
          <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
        <br>
        <div class="col-sm-6" *ngIf='resBody?.flag && !challenge && !docType'>
          <button type="button" class="btn btn-primary" (click)="getChallenges();challenge=true">Challenges</button>
        </div>
        <div class="group" *ngIf='resBody?.flag && challenge'>
          <input type="text" required  ngModel name="otp" #otp>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label *ngIf="!otp.touched || otp.valid">OTP</label>
          <label *ngIf="otp.touched && !otp.valid" class="invalid-input">OTP is required</label>
        </div>
        <div class="row justify-content-between col-sm-8" *ngIf='resBody?.flag && challenge'>
          <button [disabled]="!f.valid" *ngIf="!submit" type="button" class="btn btn-primary" (click)="submitChallenge(f);submit=true">Submit</button>
          <div *ngIf="submit"><i class="fa fa-check check" aria-hidden="true"></i></div>
          <button *ngIf="!docType && submit" [disabled]="!submit" type="button" class="btn btn-primary" (click)="getSummary(resBody.custId)">GetSummary</button>
        </div>

        <div class="document-cntr col-sm-6" *ngIf="dowloadDocuments && docType">
        <div *ngFor="let document of documentsList;let i =index">
          <div class="dnd-row">Document &nbsp; {{i+1}}&nbsp;<button type="button" class="dnd-btn" (click)="onDownload(document.documentId,i+1)"><i class="fa fa-download" aria-hidden="true"></i></button></div>
        </div>
        </div>
        <div *ngIf="noDocuments">No document found</div>
    
      </form>
    </div>
  </div>