<div class="contaner-fluid">
<div class="row align-items-center">
  <div class="offset-sm-3 col-sm-6 input-styling">
    <div class="row input-heading">Tell us about the loan you want</div>
    <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Purchase Price($)</label>
   </div>
   <div class="row col-sm-6 input-inline">
      <div class="group col-sm-8">      
        <input type="number" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Down Payment($)</label>
      </div>
      <div class="group col-sm-2">      
        <input type="number" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>(%)</label>
      </div>
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Loan Amount($)</label>
   </div>
    <div class="row justify-content-between col-sm-8">
    <div class="col-sm-6">
      <button class="btn back-btn" (click)="goBack()">Back</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="loadNext()">Next</button>
    </div>
  </div>
  </div>
 
</div>
</div>
