<div class="contaner-fluid">
<div class="row align-items-center">
  <div class="offset-sm-3 col-sm-6 input-styling">
    <div class="row input-heading">Purchase property details</div>
    <!--<div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Property Type</label>
   </div>
   <div class="row group propertyQuestions">  
     <div class="col-md-6">
       <span class="highlight"></span>
        <span class="bar"></span>
       <label>Have you selected a property?</label>
       <button class="btn btn-primary smBtn" required>Yes</button>
       <button class="btn" required>No</button>
    </div>    
     <div class="col-md-6">
       <span class="highlight"></span>
        <span class="bar"></span>
       <label>Are you in contract?</label>
       <button class="btn btn-primary smBtn" required>Yes</button>
       <button class="btn" required>No</button>
    </div>  
     
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Property Use</label>
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Address</label>
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>City</label>
   </div>
   <div class="row">
    <div class="col-md-4 group">   
        <div class="group">     
          <input type="number" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>State</label>
        </div>
      </div>
      <div class="col-md-4 group"></div>
      <div class="col-md-4 group">  
        <div class="group">    
          <input type="number" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Zipcode</label>
        </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
      <button class="btn back-btn" (click)="goBack()">Back</button>
    </div>
      <div class="col-sm-6">
      <button class="btn btn-primary" (click)="loadNext()">Next</button>
    </div>
   </div>-->
    <form class="form-adj prop-details-form" (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="group">
                    <select class="select-box sel-adj" required ngModel name="propertyType" #propertyType=ngModel>
                      <option>Property 1</option>
                      <option>Property 2</option>
                    </select>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label [ngClass]="{'select-touched':propertyType.touched, 'select-unTouched':!propertyType.touched}" >Property Type</label>         
                </div>
                <div class="group purchase-prop-questions">
                    <!--<input type="text" required ngModel name="lastName" #lastName=ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label *ngIf="!lastName.touched || lastName.valid">Last Name</label>
                    <label class="invalid-input" *ngIf="lastName.touched && !lastName.valid">Last Name is required</label>-->
                   <div class="row">
                      <div class="col-md-6 prop-selected-btn">
                        Have you selected a property?
                    </div>
                    <div class="col-md-6">
Are you in contract?
                    </div>
                   </div>
                    
                </div>
                <div class="group">
                    <input type="text" required ngModel name="lastName" #lastName=ngModel>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label *ngIf="!lastName.touched || lastName.valid">Last Name</label>
                    <label class="invalid-input" *ngIf="lastName.touched && !lastName.valid">Last Name is required</label>
                </div>
                <div class="group">
                    <input type="text" required ngModel name="email" #email=ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    (focus)="inputFocus=false"
                    (blur)="inputFocus=(!email.valid)"
                    >
                    <span class="highlight" [class.inv]="inputFocus"></span>
                    <span class="bar"></span>
                    <label *ngIf="!email.touched || email.valid">Preffered Email</label>
                    <label class="invalid-input" *ngIf="email.touched && !email.valid">Email is required</label>
                </div>

                <div class="group">
                    <input type="text" required ngModel name="phone" #phone=ngModel pattern="[0-9]+"
                    (focus)="inputPhoneFocus=false"
                    (blur)="inputPhoneFocus=(!phone.valid)">
                    <span class="highlight" [class.inv]="inputPhoneFocus"></span>
                    <span class="bar"></span>
                    <label *ngIf="!phone.touched || phone.valid">Phone#</label>
                    <label class="invalid-input" *ngIf="phone.touched && !phone.valid">Phone is required</label>
                </div>

                <label class="btns-lebels">Preffered Method of Communication</label>
                <div class="row btns-group">
                    <button type="button" [class.btn-account]="true" btn-cliked [class.btn-cliked]="phoneCliked" (click)="onOptionClick($event)">Phone</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="emailCliked" (click)="onOptionClick($event)">Email</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="textCliked" (click)="onOptionClick($event)">Text</button>
                    <button type="button" [class.btn-account]="true" [class.btn-cliked]="allCliked" (click)="onOptionClick($event)">All</button>
                </div>
                <div class="row justify-content-between col-sm-8">
                    <div class="col-sm-6">
                        <button type="button" class="btn back-btn">Back</button>
                    </div>
                    <div class="col-sm-6">
                        <button [disabled]="!f.valid" type="Submit"
                            class="btn btn-primary">Next</button>
                    </div>
                </div>

            </form>
  </div>
</div>
</div>
