.purchase-prop-questions{
    color: #c4baba;
    font-size: 14px;
    top:-20px;
    .prop-selected-btn{
        float:left;
    }
}


.propertyQuestions{
    margin-bottom: 50px;
    button{
            line-height: 0.25;
            position: relative;
            top: 15px;
            float:left;
            margin-right: 5px;
            font-size: 12px;
    }
    label{
        padding-left:15px;
    }
}
  .form-adj{
       margin-top:30px; 
   }
    .btns-lebels{
    border: none;
    outline: none;
    display: block;
    width: 300px;
    color: #c4baba;
    text-align: left;
    padding-left: 5px;
    }
    .btn-grp-adj{
       margin-top:50px;
    }
    .select-box{
        border: none;
        border-bottom: 1px solid #0066cc;
        margin-bottom: 0px;
        color: #0066cc;
        height: 30px;
        width: 55%;
        margin-left: -18vw;
   }
   .select-unTouched{
    pointer-events: none;
    color: #b5b5b5;
    font-weight: normal;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s ease all;
   }
   .select-touched{
       color: #0066cc !important;
       font-size: 14px;
       top:-20px;
   }
  