<app-loader [loading]="loading"></app-loader>
<div class="contaner-fluid">
  <div class="row align-items-center">
    <div class="offset-sm-3 col-sm-9 input-styling banks-assets">
      <div class="row input-heading">Savings and Investments</div>
      <div class="row input-sub-heading">Which financial institution do you want to add account for?</div>
      <div class="image-tiles">
        <div *ngIf="!bankSearchResults" class="row img-block-1">
          <div *ngFor="let bank of bankList">
            <div class="col-md-8">
              <div class="bank-box" [class.bank-selected]="active === bank.institutionId" (click)="active = bank.institutionId;bankId = bank.institutionId;bankName=bank.name;bankLogo = bank.logo">
                <img [src]="bank.logo" />
                <br> {{bank.name}}
              </div>
            </div>
          </div>
        </div>

      <div class="row  img-block-2" *ngIf="bankSearchResults;let i = index">
        <div *ngFor="let bank of bankSearchResultsList">
            <div class="">
              <div class="bank-box" [class.bank-selected]="active === bank.institutionId" (click)="active = bank.institutionId;bankId = bank.institutionId;bankName=bank.name;bankLogo = bank.logo">
                <img [src]="bank.logo" />
                <br> <p>{{bank.name}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-between col-sm-8 financial-inst-question">
        <div class="col-sm-6">
          <div class="group institution-name">
            <input type="text" name="search" placeholder="Enter bank name" [(ngModel)]="bankToSearch">
            <div class="search-icon" (click)="searchBank()">
              <i class="fa fa fa-search" style="font-size:24px"></i>
            </div>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Or enter a financial institution</label>
          </div>
          
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">I do not have any assets
            </label>
          </div>
        </div>
      </div>


      <div class="row justify-content-between col-sm-8">
        <div class="col-sm-6">
          <!--<i class="fa fa-long-arrow-left" aria-hidden="true"></i>-->
          <div class="back-arrow-container">
            <svg class="back-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32.635 32.635" style="enable-background:new 0 0 32.635 32.635;" xml:space="preserve" >
              <g>
                <path d="M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5   S32.411,16.817,32.135,16.817z" fill="#0edede"/>
                <path d="M13.037,29.353c-0.128,0-0.256-0.049-0.354-0.146L0.146,16.669C0.053,16.575,0,16.448,0,16.315s0.053-0.26,0.146-0.354   L12.684,3.429c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707L1.207,16.315l12.184,12.184c0.195,0.195,0.195,0.512,0,0.707   C13.293,29.304,13.165,29.353,13.037,29.353z" fill="#0edede"/>
              </g>
            </svg>
         </div>
          <button class="btn back-btn" (click)="goBack()">Back</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="loadNext()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>