// .image-tiles{
//     margin-bottom: 10px;
//     .img-block-1{
//         .bank-box{
//             height: 75px;
//             width: 137px;
//             opacity: 0.4;
//             box-sizing: border-box;
//             cursor: pointer;
//             margin-right: 10px;
//             position: relative;
//             &:hover{
//                 box-shadow: 0px 0px 5px #282828;
//                 opacity:1;
//             }
//             .img-1{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
//                 width: 100%;
//                 height: 100%;
//             }
//             .img-2{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
//                 width: 100%;
//                 height: 100%;
//             }
//             .img-3{
//                 background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//     }
// }
.banks-assets{
    .image-tiles{
        margin-bottom: 10px;
        .img-block-1{
             max-height: 310px;
            //overflow-y: scroll;
            width: 100%;
            padding: 0px 15px 0px 15px;
            .bank-box{
                height: 100px;
                width: 180px;
                opacity: 0.4;
                box-sizing: border-box;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                padding: 0px 10px 0px 10px;
                &:hover{
                    box-shadow: 0px 0px 5px #282828;
                    opacity:1;
                }
                img{
                    height:50%;
                    width:auto;
                    padding-top:10px;
                }
                .img-1{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-2{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-3{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
     .img-block-2{
             max-height: 310px;
            overflow-y: scroll;
            width: 85%;
            padding: 0px 15px 0px 15px;
            .bank-box{
                height: 100px;
                width: 180px;
                opacity: 0.4;
                box-sizing: border-box;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                padding: 0px 10px 0px 10px;
                &:hover{
                    box-shadow: 0px 0px 5px #282828;
                    opacity:1;
                }
                img{
                    height:50%;
                    width:auto;
                    padding-top:10px;
                }
                .img-1{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-2{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
                    width: 100%;
                    height: 100%;
                }
                .img-3{
                    background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .financial-inst-question{
        margin-top: 5%;
        .institution-name{
            .search-icon{
                border: 2px solid #ccc;
                border-radius: 4px;
                background-color: #ccc;
                color: #fff;
                cursor:pointer;
                i{
                    font-size: 24px;
                    position: relative;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-top-width: 2px;
                    border-bottom-width: 2px;
                }
            }
            margin-bottom:2px;
            input[type=text] {
                width: 80%;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                background-color: white;
                float:left;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 12px 20px 12px 15px;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
        }
        button{
                line-height: 0;
            }
        .bar{
            width: 235px;
        }
    }

    .bank-selected{
        box-shadow: 0px 0px 5px #282828;
        opacity:1 !important;
    }
    .back-arrow-container{
        margin-top: 7px;
        width: 10px;
        margin-left: 2vw;
        position: relative;
        float: left;
        .back-arrow{
            width:auto;
            height:23px;
        }
    }
    

}