.group.margin-left{
    margin-left: 10px;
}
.font-small{
    font-size: 0.8em;
    thead{
        text-align: center;
    }
}

                .label-group{
                    label{
                        background:transparent;
                        padding:5px 15px 5px 15px;
                        margin:10px;
                        border-radius: 18px;
                        cursor:pointer;
                        border:1px solid #b5b5b5;
                        color: #b5b5b5;
                        font-size: 0.8em;
                        &.active{
                            border:1px solid #0066CC;
                            color: #fff;
                            background:#0066CC;
                        }
                        &:hover{
                            border:1px solid #0066CC;
                            color: #fff;
                            background:#0066CC; 
                        }
                }
        input[type="radio"]{
            display: none;
        }
    }
form{
    width: 70%;
    margin:auto;
    .input-styling{
    background: #fbfbfb;
    border-radius: 30px;
    margin-top: 0px;
    border: 1px solid #ededed;
    outline: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
        .full-row{
            width: 100%;
            .flex-display{
                display: flex;
                flex-wrap: wrap;
                .btn-div{
                    button{
                        font-size: 0.8em;
                        padding: 8px 15px 8px 15px;
                        border-radius: 16px;
                        margin-top:8px;
                        text-transform: initial;
                    }
                }
                .label-group{
                    label{
                        background:transparent;
                        padding:5px 15px 5px 15px;
                        margin:10px;
                        border-radius: 18px;
                        cursor:pointer;
                        border:1px solid #b5b5b5;
                        color: #b5b5b5;
                        font-size: 0.8em;
                        &.active{
                            border:1px solid #0066CC;
                            color: #fff;
                            background:#0066CC;
                        }
                        &:hover{
                            border:1px solid #0066CC;
                            color: #fff;
                            background:#0066CC; 
                        }
                }
        input[type="radio"]{
            display: none;
        }
    }
            }
        .group{
            margin-top: 20px;
            margin-bottom: 10px;
            input{
                width:100px !important;
                background: transparent;
                font-size: 0.7rem;
                color:#0066CC;
                &:focus{
                width:120px !important;
                }
                .valid{
                    color:#0066CC;
                }
            }
            .bar{
                width: 120px !important;
           }
           label{
                font-size: 0.8rem;
                margin-bottom: 0.2em;
           }
        }
            input[type=date]::-webkit-datetime-edit {
                color:transparent;
            }
            input[type=date].ng-valid::-webkit-datetime-edit {
                color:#0066CC;
            }
            input[type=date]:focus::-webkit-datetime-edit {
                color:#0066CC;
            }
        }
    }
    .button-group{
        width: 100%;
        border: 1px solid #ededed;
        border-radius: 20px;
        margin-top: 15px;
        margin: auto;
        padding-top: 5px;
        border: 1px solid #ededed;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        .button-row{
            width: 100%;
            padding: 0;
            .centered{
                margin: auto;
            }
        }
    }
    }
.detail-body{
    .header-row{
    width: 100%;
    padding: 5px;
    background: #00a7f8;
    margin-top: 0px;
    font-weight: 400;
    color: white;
    text-align: center;
    }
    .detail-view{
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        text-align: center;
        color:#252525;
        width: 100%;
        height: 75vh;
        margin-top: 10px;
        .no-account{
            font-size:2em;
            .error-symbol{
                color:#e62e00;
            }
        }
    }
}